<div>
<div class="ui-message">
    {{UIMessage | async}}
</div>
<cdk-virtual-scroll-viewport itemSize="150" class="scroll-viewport">
  <ul>
  <li *cdkVirtualFor="let result of dataSource">

    <div *ngIf="result" class="result-item">
      <p><strong>Description :</strong> {{result.description}}</p>
      <p><strong>Type: </strong>{{result.type}}</p>
      <p><strong>Size: </strong>{{result.size}}</p>
    </div>
    <div *ngIf="!result">
      {{UIMessage | async}}
    </div>
    <hr class="solid">
  </li>
  </ul>

</cdk-virtual-scroll-viewport>

</div>
