.scroll-viewport {
  height: 500px;
  width: 100%;
}

.ui-message {
  margin: 10px;
}

hr {
  margin: 0;
}

.result-item {
  height: 100px;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  flex-direction: column;
  p {
    margin-left: 5px;
    margin-top: 5px;
    margin-block-end: 0px;
    margin-block-start: 0px;
  }
}

cdk-virtual-scroll-viewport {
  border: 1px solid black;

  li {
    list-style: none;
  }
}
