<div class="search-bar-row">
    <div class="description-search">
    <mat-form-field [floatLabel]="'always'" class="example-full-width">
      <mat-label>Search description</mat-label>
        <input matInput #message maxlength="256" [(ngModel)]="descriptionSearch">
      </mat-form-field>
    </div>

    <div class="file-size-search">
      <mat-form-field [floatLabel]="'always'" class="example-full-width">
        <mat-label>Search size</mat-label>
        <input matInput #message min="0" max="500000" [(ngModel)]="minSize" type="number">
        <mat-hint *ngIf="validationError" align="start">Please set a valid range</mat-hint>
      </mat-form-field>
      <mat-label> - </mat-label>
      <mat-form-field [floatLabel]="'always'" class="example-full-width">
        <input matInput #message min="0" max="500000" [(ngModel)]="maxSize" type="number">
      </mat-form-field>
    </div>
    <div class="file-type-search">
      <mat-button-toggle-group name="fontStyle" aria-label="Font Style" [(ngModel)]="fileTypeFilter" >
        <mat-button-toggle value="any">Any</mat-button-toggle>
        <mat-button-toggle value="image/png">PNG</mat-button-toggle>
        <mat-button-toggle value="image/jpeg">JPEG</mat-button-toggle>
      </mat-button-toggle-group>
    </div>
</div>
<div class="search-bar-row">
  <button mat-raised-button color="primary" (click)="validateSearch()">Search</button>
</div>
