<div class="search-bar-row">
  <mat-form-field class="example-full-width">
      <mat-label>Description</mat-label>
      <input matInput #message maxlength="256" (input)="inputChanged(message.value)">
      <mat-hint align="end">{{message.value.length}} / 256</mat-hint>
    </mat-form-field>
  <div>
    <mat-label></mat-label>
    <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
      <mat-button-toggle value="any">Any</mat-button-toggle>
      <mat-button-toggle value="png">PNG</mat-button-toggle>
      <mat-button-toggle value="jpeg">JPG</mat-button-toggle>
    </mat-button-toggle-group>
  </div>
</div>
